// Material Design MD_BLUE_GRAY palette
Theme (
    resources: {
    	"MD_BLACK": "#000000",
    	"MD_WHITE": "#FFFFFF",
        "MD_BLUE_GRAY_50": "#ECEFF1",
        "MD_BLUE_GRAY_100": "#CFD8DC",
        "MD_BLUE_GRAY_200": "#B0BEC5",        
        "MD_BLUE_GRAY_300": "#90A4AE",
        "MD_BLUE_GRAY_400": "#78909C",
        "MD_BLUE_GRAY_500": "#607D8B",
        "MD_BLUE_GRAY_600": "#546E7A",     
        "MD_BLUE_GRAY_700": "#455A64",   
        "MD_BLUE_GRAY_800": "#37474F",
        "MD_BLUE_GRAY_900": "#263238"
     
    },
)
