// Material Design MD_DEEP_PURPLE palette
Theme (
    resources: {
    	"MD_BLACK": "#000000",
    	"MD_WHITE": "#FFFFFF",
        "MD_DEEP_PURPLE_50": "#EDE7F6",
        "MD_DEEP_PURPLE_100": "#D1C4E9",
        "MD_DEEP_PURPLE_200": "#B39DDB",        
        "MD_DEEP_PURPLE_300": "#9575CD",
        "MD_DEEP_PURPLE_400": "#7E57C2",
        "MD_DEEP_PURPLE_500": "#673AB7",
        "MD_DEEP_PURPLE_600": "#5E35B1",     
        "MD_DEEP_PURPLE_700": "#512DA8",   
        "MD_DEEP_PURPLE_800": "#4527A0",
        "MD_DEEP_PURPLE_900": "#311B92",
        "MD_DEEP_PURPLE_A100": "#B388FF",
     	"MD_DEEP_PURPLE_A200": "#7C4DFF",
	"MD_DEEP_PURPLE_A400": "#651FFF",
	"MD_DEEP_PURPLE_A700": "#6200EA"
    },
)
